.guest-fortune{
  h3 {
    font-size: 16px;
    color: #1e0111;
    font-weight: bold;
    text-align: center;
    padding-bottom:14px;
  }
  form div > span{
    display:none;
  }
  .form-area {
    justify-content: center;
  }
}
