.tab-content {
  padding-top: 35px;
  border: 1px solid #ff8e09;
  border-radius: 10px;
  position: relative;
  top: -35px;
  z-index: 1;
  box-shadow: 2px 2px #ff8e09;
  li {
    display: none;
    padding: 24px 16px 0;
    color: #585858;
    background-color: #fff;
    &.js-active {
      display: block;
    }
  }

  &__result {
    font-size: 15px;
    margin-bottom: 24px;
  }

  &__recommend {
    margin-bottom: 24px;
  }

}
