.tab-list {
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 3;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 2px solid #ff8e09;
    font-weight: 700;
    color: #1e0111;
    border-radius: 50%;
    background-color: #fff;
    &.js-active span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 68px;
      height: 68px;
      border: 2px solid #fff;
      background-color: #ff8e0b;
      border-radius: 50%;
      color: #fff;
    }
  }
}
