.content-space {
  &__top {
    padding-top: 94px;
    background-color: #fff;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    z-index: 1;
  &.yellowStripe{
    content: "";
    background-image: url(http://placehold.jp/fceec0/ffffff/370x150.png);
    background-repeat: repeat-y;
    background-size: auto;
    width: 100%;
    padding-bottom: 40px;
  }
  }
}