// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
// @import "variables";

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// .navbar-laravel {
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }

* {margin: 0;padding: 0;box-sizing: border-box;letter-spacing: 1px;line-height: 1.6;}
img {display: block;width: 100%;}
ul, li {list-style-type: none;}
button{background-color: transparent;border: none;cursor: pointer;outline: none;appearance: none;}
body{background:#f4f4f4;}

main {
  max-width: 600px;
  margin: 0 auto;
}

section {
  padding-top: 120px;
  background-color: #f7f7f7;
  position: relative;
  // padding-bottom: 24px;
}

.top {
  &__famillyImg{
    background-image: url(/images/top/topillust.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: 50% 10px;
  }
}

.page-back {
  text-decoration: underline;
  padding: 0px 0px 16px 28px;
  position: relative;
  color: #585858;
  &:before {
    content: '';
    width: 8px;
    height: 8px;
    border: 0px;
    border-top: solid 1px #605651;
    border-right: solid 1px #605651;
    transform: rotate(-135deg);
    position: absolute;
    top: 19%;
    left: 14px;
  }
}

.outerside{
  margin-right: -16px;
  margin-left: -16px;
}



@import "base/_base.scss";

@import "header/_header.scss";
@import "footer/_footer.scss";

@import "content/_space.scss";
@import "content/_catch.scss";

@import "button/_base.scss";
@import "button/_registration.scss";
@import "button/_profile.scss";

@import "title/_base.scss";
@import "title/_second.scss";

@import "form/_main.scss";
@import "form/_content.scss";
@import "form/_checkList.scss";
@import "form/_child.scss";
@import "form/_item.scss";
@import "form/_second.scss";

@import "list/_article.scss";
@import "list/_recomend.scss";
@import "list/_text.scss";
@import "list/_category.scss";

@import "tab/_list.scss";
@import "tab/_content.scss";

@import "second/_selectList.scss";

@import "nav/_breadcrumb.scss";

@import "icon/_base.scss";

