// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
// @import "variables";

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// .navbar-laravel {
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }

* {margin: 0;padding: 0;box-sizing: border-box;letter-spacing: 1px;line-height: 1.6;}
img {display: block;width: 100%;}
ul, li {list-style-type: none;}
button{background-color: transparent;border: none;cursor: pointer;outline: none;appearance: none;}

main {
  max-width: 600px;
  margin: 0 auto;
}

section {
  padding-top: 120px;
  background-color: #f7f7f7;
  position: relative;
  padding-bottom: 24px;
}


@import "base/_base.scss";

@import "header/_header.scss";
@import "footer/_footer.scss";

@import "content/_space.scss";

@import "button/_base.scss";

@import "title/_base.scss";

@import "list/_article.scss";
@import "list/_recomend.scss";

@import "tab/_list.scss";
@import "tab/_content.scss";

@import "second/_selectList.scss";

@import "nav/_breadcrumb.scss";

