.unregist-base {
  font-size: 14px;
  color: #585858;
  h2 {
    font-size: 14px;
    margin: 20px 0px;
    font-weight: normal;
  }  
  h3 {
    font-size: 14px;
  }
  a {
    color: #ff8e09;
    text-decoration: underline;
  }
}