.form-item {
  &__img {
    display: flex; //　ベンダープレフィックス用 
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 24px 16px;
    max-width: 360px;
    margin: 0 auto;
    button {
      width: 80%;
      padding: 10px;
      background-color: #ddd;
    }
    > div {
      width: 86px;
      height: 86px;
      position: relative;
      
      img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
      }
      &.js-active img:nth-of-type(1) {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
      }
      input {
        display: none;
      }
    }
  }
  &__imgFix {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #b4a7a0;
    position: relative;
    background-size: 54px;
    background-repeat: no-repeat;
    background-position: 50%;
    &.js-child_01 {
      background-image: url("/images/icon_kids/baby-boy.png");
    }
    
    &::after {
      content: "";
      display: block;
      width: 24px;
      height: 24px;
      background-image: url("/images/icon/pen.png");
      background-size: contain;
      position: absolute;
      bottom: 0px;
      right: -6px;
    }
  }
}