.button-base {
  margin: 0 auto 12px;
  width: 50%;
  a, button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2px;
    height: 36px;
    font-weight: bold;
    margin: 0 auto;
    font-size: 14px;
    color: #1e0111;
    border: solid 0.5px #ffcd09;
    background-color: #ffffff;
    box-shadow: 0 1px 0 0 #ffcd09;
    border-radius: 4px;
  }

  input.button{
    border: solid 0.5px #ffcd09;
    background-color: #ffffff;
    box-shadow: 0 1px 0 0 #ffcd09;
    border-radius: 1.5px;
    text-align: center;
    width: 50%;
    padding: 2%;
    font-weight: bold;
    margin: 0 auto;
    display:block;
  }

}