.list-article__base p {
  padding: 8px;
  font-size: 14px;
}

.form-item__select .form-area > div + span {
  padding-right: 8px;
}

.footer li a {
  font-size: 12px;
  padding: 0px 12px;
}
  
.list-article__base p {
  font-size: 13px;
  padding: 0px;
}
  
.title-sub {
  font-size: 14px;
}
  
.form-register__socialtext {
  font-size: 12px;
}
  
.form-register__socialImage {
  width: 28px;
  margin: 0px 0px 0px 2px;
}
  
.form-register__socialWrapper {
  width: 49%;
}
  
.top-main__message img:nth-of-type(1) {
  width: 180px;
}
  
.top-main__message img:nth-of-type(2) {
  width: 280px;
}
  
section {
  padding-top: 90px;
}
  
h2.title-top__base {
  top: 50px;
}
  
.list-recommend__base li a p {
  font-size: 13px;
}
  
.content-space__top {
  padding-top: 90px;
}
  
.list-category2 li a {
  font-size: 13px;
}
  
.favorite-list__text {
  font-size:13px;
}
  
.tab-content__result {
  font-size: 14px;
}
  
.button-base {
  width: 70%;
}












.content-gokigenList__child.children_4 > div {
  width: 558px;
}

.content-gokigenList__child.children_5 > div {
  width: 646px;
}




